.card {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid greenyellow;
}

a {
  color: green;
  padding: 5px;
  text-decoration: none;
  background-color: azure;
}

a:hover,
a:selected {
  color: grey;
}
